.row {
    & > h3 {
        margin: 0 0 1rem;
        display: flex;
        align-items: center;
        gap: 1.4rem;
        font-size: 1.6rem;
        font-family: var(--f-3);
        position: relative;

        &:hover::before {
            position: absolute;
            left: -2rem;
            content: "#";
            display: flex;
            align-items: center;
            color: var(--c-chip-15);
            font-size: 1.6rem;
            font-family: var(--f-1);
            font-weight: 600;
        }
    }
    & > p {
        font-size: 1.4rem;
        font-family: var(--f-3);
        color: var(--c-grey-500);
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}
