.section {
    &__1 {
        z-index: 1;
        position: relative;
        top: -7rem;
        margin-bottom: -7rem;
        font-family: var(--f-1);
        padding: 10rem 10vw 6rem;
        background: var(--c-primary-light);  
        background: -webkit-linear-gradient(to bottom, var(--c-primary-light), var((--c-white)));  
        background: linear-gradient(to bottom, var(--c-primary-light), var(--c-white)); 
    }
    &__2 {
        font-family: var(--f-1);
        padding: 2rem 10vw;
    }
}

.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 3rem;
}

.menus {
    display: grid;
    max-width: 76rem;
    grid-template-columns: repeat(auto-fit, 22rem);
    margin: 2rem auto;
    place-content: center;
    gap: 3rem;
    &:hover:has([data-hover="menu"]:hover) > [data-hover="menu"]:not(:hover)  {
        opacity: 0.4;
    }
}

.files_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.6rem;

}