.section {
    &__1 {
        padding: 4rem 3.2rem ;
    }
    &__2 {
        padding: 1.2rem 3.2rem ;
        font-family: var(--f-2);
        & > a {
            padding: 0.3rem 0.2rem;
            &:hover {
                color: var(--c-primary);
            }
        }
    }

}

.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 2rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    flex-direction: column;
    gap: 1.2rem;
}