.files_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.2rem;
}

.folder_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 1.2rem;
}

.page {
    margin: 2rem 10vw;
    font-family: var(--f-1);
}


.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 2rem;
    &__2 {
        font-size: 1.6rem;
        margin:  1.6rem 0;
        font-weight: 400;
    }
}