.section {
    &__1 {
        padding: 4rem 3.2rem ;
    }
}

.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 2rem;
}

.card__wrap {
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 3rem ;
}