.badge {
    display: inline-flex;
    border-radius: 1.6rem;
    padding: 0.4rem 1.2rem;
    color: var(--c-black);
    background-color: var(--c-grey-700);
    font-family: var(--f-1);
    font-weight: 500;
}