.card {
    padding: 2rem;
    border-radius: 0.6rem;
    background-color: var(--c-white);
    transition: all 200ms ease;
    align-self: stretch;
    width: 100%;
    outline: 0.1rem solid var(--c-grey-200);

    &__wrap {
        max-width: 70rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        gap: 2rem 1rem;
        padding: 2rem 0;
    }

    & h3 {
        font-family: var(--f-1);
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.6rem;
        transition: all 200ms ease;
    }
    & p {
        font-family: var(--f-2);
        font-size: 1.2rem;

        &.date {
            margin-top: 1rem;
            font-size: 1.1rem;
            color: var(--c-grey);
        }
    }

    &:hover {
        outline: 0.1rem solid var(--c-chip-2-14);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 99;
        & h3 {
            color: var(--c-chip-2-14);
        }
    }
}
.section__other {
    padding: 4rem 3rem;
    background-color: var(--c-grey-100);
    & > div > h1 {
        font-family: var(--f-1);
        font-size: 2rem;
    }
    & > * > * > a {
        display: flex;
    }
}

.content {
    max-width: 68rem;
    margin: 0 auto;
}
