.card {
    background-color: var(--c-white);
    border-radius: 2.4rem;
    padding: 4rem 0.2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
    transition: all 200ms ease;
    border: 1px solid var(--c-white);
    & > h4 {
        word-wrap: normal;
    }
    &:hover {
        & > .icon {
            color: var(--color-hover);
            transform: scale(1.2);
        }
        border: 0.5px solid var(--c-secondary-2);
        box-shadow: rgba(30, 216, 113, 0.2) 0px 2px 10px;
    }
}

.icon {
    display: inline;
    transition: all 200ms ease;
    font-size: 4rem;
}
