.container {
    background-color: var(--c-grey-100);
    display: flex;
    gap: 1rem;
    & > * > h2 {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: var(--c-chip-8);
        display: inline-block;
        padding: 0.4rem 2rem;
        border-radius: 2rem;
    }
    @media (max-width: 48rem) {
        display: block;
        padding: 2rem 0;
    }
}
.form {
    max-width: 60rem;
    padding: 4rem;
    font-size: 1.6rem;
    font-family: var(--f-3);
    @media (max-width: 24rem) {
        padding: 2rem;
    }

    input {
        display: block;
        padding: 0.9rem 1.2rem;
        border: 0.1rem solid var(--c-grey);
        max-width: 20rem;
        border-radius: 0.6rem;
        background-color: var(--c-white);
        color: var(--c-black);
        font-size: 1.6rem;
    }

    span {
        font-size: 1.6rem;
        color: var(--c-black);
    }

    button {
        padding: 0.6rem 1.2rem;
        border: 0.1rem solid var(--c-grey);
        border-radius: 0.6rem;
        background-color: var(--c-grey-100);
        color: var(--c-black);
        cursor: pointer;

        &:hover {
            background-color: var(--c-grey-200);
        }
    }
}
.row {
    display: grid;
    grid-template-columns: 10rem minmax(20rem, 30rem) 2rem 5rem;
    padding: 2rem 4rem;
    gap: 2rem;
    align-items: center;
    background-color: var(--c-white);
    margin-bottom: 1rem;
    border-left: 4px solid var(--c-chip-8);
    @media (max-width: 30rem) {
        grid-template-columns: 10rem 18rem 2rem 0;
        button {
            opacity: 0;
        }
    }
    &:last-child {
        margin-top: 2rem;
        & > span,
        p {
            font-weight: 600;
        }
    }
}

.row__date {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    margin-bottom: 1rem;
    background-color: var(--c-white);
    border: 1px solid var(--c-grey-100);
    border-left: 4px solid var(--c-chip-8);

    & label {
        display: inline-flex;
        margin-bottom: 1rem;
    }
    & input {
        display: flex;
    }
    & span {
        font-weight: 600;
    }
}

.saved {
    width: 40rem;
    background-color: var(--c-white);
    padding: 2rem 4rem;
}

.div_1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.div_2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    & span {
        padding: 0.2rem 1.2rem;
        border-radius: 0.6rem;
        background-color: var(--c-primary-light);
    }
}
.val {
    &_sum {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
    }
    text-wrap: nowrap;
    padding: 0.1rem 0.4rem;
    border-radius: 0.6rem;
    font-weight: 600;

    background-color: var(--c-primary-light);
}

.result {
    padding: 4rem;
    font-size: 1.6rem;
    font-family: var(--f-3);
    gap: 1rem;
    & h2 {
        display: inline-block;
    }
    &__warn {
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: var(--c-chip-100-14);
        font-weight: 600;
        margin-bottom: 3rem;
        padding: 0.4rem 2rem;
        border-radius: 0.8rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 4rem;
        border-left: 3px solid var(--c-chip-1);
        background-color: var(--c-white);
        padding: 2rem 2rem;

        & p:nth-child(1) {
            color: var(--c-chip-1);
            font-weight: 600;
            font-size: 1.8rem;
        }
    }
}
