.page {
    padding: 2rem 3.2rem;
    font-size: 1.4rem;
    font-family: var(--f-1), var(--f-3);
    & h1 {
        font-weight: 700;
        font-size: 2.4rem;
        margin: 4rem;
        text-align: center;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 3rem;
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--c-white);
    padding: 1.6rem 2.8rem;
    border-radius: 1.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(167, 128, 222, 0.162);
    font-family: var(--f-1);
    align-items: center;
    transition: all 0.1s ease-in;
    outline: 0px solid transparent;
    & p {
        line-height: 1.7;
        font-size: 1.3rem;
        height: 100%;
    }
    & h5 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: var(--c-grey);
    }
    & button {
        display: inline-flex;
        background-color: var(--c-grey-200);
        border: 1px solid var(--c-grey);
        color: var(--c-black);
        padding: 0.2rem 0.4rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        cursor: context-menu;
        &:hover {
            background-color: var(--c-primary);
            color: var(--c-white);
        }
    }
    &:hover {
        box-shadow: 0 0.4rem 0.8rem rgba(71, 8, 148, 0.31);
        transform: translateY(-0.2rem);
        outline-width: 1px;
    }
}

.subhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    & button {
        display: inline-flex;
        align-items: center;
        background-color: var(--c-grey-100);
        border: 1px solid var(--c-grey-200);
        color: var(--c-black);
        padding: 0.2rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 2.2rem;
        gap: 0.6rem;
        margin-left: 0.6rem;
        &:hover {
            background-color: var(--c-grey-200);
            color: var(--c-white);
        }
        &.active {
            background-color: var(--c-chip-1);
            color: var(--c-white);
        }
    }
    & span {
        display: inline-flex;
        align-items: center;
        gap: 0.6rem;
        font-size: 1.4rem;
        color: var(--c-black);
    }
    @media (max-width: 26rem) {
        display: block;
        & button {
            margin-top: 1.6rem;
        }
    }
}
.not_found {
    text-align: center;
    padding: 10rem 0;
    color: var(--c-grey);
    font-size: 1.6rem;
    & svg {
        display: block;
        font-size: 8rem;
        margin: 2rem auto;
        transition: all 0.1s ease;
        fill: var(--c-grey-200);
        &:hover {
            transform: rotate(-5deg) scale(0.9);
            fill: var(--c-grey);
        }
    }
}
