.btn {
    &__grp {
        display: flex;
        gap: 0.6rem;
        margin:  1.6rem 0 0;
    }
    &__del {
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 0.8rem;
        background-color: red;
        color: #FFF;
    }
    &__cancel {
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 0.8rem;
        background-color: var(--c-grey);
    }
}

.form {
    font-family: var(--f-1);
    & > h4 {
        margin-bottom: 1.2rem;
    }
}