.form {
    display: flex;
    flex-direction: column;
    font-family: var(--f-3);
    background-color: var(--c-white);
    border-radius: 0.8rem;
    padding: 2rem;
    border: 0.1rem solid var(--c-grey-100);

    & > input, select {
        padding: 0.6rem 1.2rem;
        background-color: var(--c-grey-100);
        border: none;
        border-radius: 0.6rem;
        color: var(--c-black);
        margin-bottom: 0.6rem;
    }
    & > label {
        font-size: 1.4rem;
        margin-bottom: 0.2rem;
    }
    & > button {
        margin-top: 2rem;
        cursor: pointer;
        padding: 0.6rem 1.2rem;
        font-family: var(--f-1);
        border-radius: 0.6rem;
        border: none;
        background-color: var(--c-primary-2
        );
    }
    
}