.page {
    margin: 2rem 10vw;
    & > h5 {
        font-size: 1.6rem;
        font-family: var(--f-3);
        margin: 2rem 0;
    } 
}


.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 2rem;
}

.headerBtn {
    display: inline-flex;
    gap: 0.6rem;
    font-size: 1.6rem;
    font-family: var(--f-3);
    padding: 1.2rem 1.4rem;
    background-color: var(--c-grey-100);
    color: var(--c-black);
    border-radius: 0.6rem;
    border: none;
    margin-right: 0.6rem;
    &:hover {
        background-color: var(--c-grey-200);
    }
}