:root {
  --c-white: #FFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
	font-size: 62.5%; 
  @media (max-width: 56.25em)  {font-size: 50%;} 
  @media (max-width: 75em) {font-size: 56.25%;} //9px
  @media (min-width: 112.5em) {font-size: 75%;} //12px
}

a {
  color: inherit;
  text-decoration: none;
}
