:root {
  &,&.light-mode {
    --c-white: #ffffff;
    --c-black: #19191b;
    
    --c-grey-100: #f4f4f4;
    --c-grey-200: #ededed;
    --c-grey: #d0d0d0;
    --c-grey-700: #666666;
    
    --c-primary: #00ccff;
    --c-primary-2: #ff9900;
    --c-primary-light: #eef9ff;
    --c-primary-light-2: #fbf1ff;
    
    --c-primary-sh: #46464638;

    --c-secondary: #50c8d8;
    --c-secondary-light: #eaf5f8;

    --c-selection: #ffe552;

    --code-base:    #fafafa;
    --code-mono-1:  #383a42;
    --code-mono-2:  #686b77;
    --code-mono-3:  #a0a1a7;
    --code-hue-1:   #0184bb;
    --code-hue-2:   #4078f2;
    --code-hue-3:   #a626a4;
    --code-hue-4:   #50a14f;
    --code-hue-5:   #e45649;
    --code-hue-5-2: #c91243;
    --code-hue-6:   #986801;
    --code-hue-6-2: #c18401;
  }
  &.dark-mode {
    --c-white: #19191b;
    --c-black: #f6f1f1;
    
    --c-grey-100: #303030;
    --c-grey-200: #3e3e3e;
    --c-grey: #848484;
    --c-grey-700: #c5c5c5;
    
    --c-primary: #78efff;
    --c-primary-2: #ff70bf;
    --c-primary-light: #21262b;
    --c-primary-light-2: #2c262e;

    --c-primary-sh: #00000075;
    
    --c-secondary: #3da8c9;
    --c-secondary-light: #251e21;

    --c-selection: #e09e2d;

    --code-base:    #282c34;
    --code-mono-1:  #abb2bf;
    --code-mono-2:  #818896;
    --code-mono-3:  #5c6370;
    --code-hue-1:   #56b6c2;
    --code-hue-2:   #61aeee;
    --code-hue-3:   #c678dd;
    --code-hue-4:   #98c379;
    --code-hue-5:   #e06c75;
    --code-hue-5-2: #be5046;
    --code-hue-6:   #d19a66;
    --code-hue-6-2: #e6c07b;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  ::-moz-selection { 
    background: var(--c-selection);
  }
  ::selection {
    background: var(--c-selection);
    color: var(--c-black);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--c-black);
  background-color: var(--c-white);
  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
  scrollbar-width: none; 
  }
}

html {
	font-size: 62.5%; 
  @media (max-width: 56.25em)  {font-size: 50%;} 
  @media (max-width: 75em) {font-size: 56.25%;} //9px
  @media (min-width: 112.5em) {font-size: 75%;} //12px
}

a {
  color: inherit;
  text-decoration: none;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

pre {
  margin: 3rem 0;
}

.hljs {
  display: block;
  padding: 1.2rem 2rem;
  color: var(--code-mono-1);
  background: var(--code-base);
  border-radius: 0.8rem;
  overflow-x: auto;
}

.hljs-comment,
.hljs-quote {
  color:  var(--code-mono-3);
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--code-hue-3);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--code-hue-5);
}

.hljs-literal {
  color: var(--code-hue-1);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--code-hue-4);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--code-hue-6);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--code-hue-2);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--code-hue-6-2);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

article section.footnotes {
  border-top: 0.3rem solid var(--c-grey-100);
  margin-top: 4rem;
  
  & li {
    padding: 0 2rem;
  
  }
}

span.spinner {
  display: inline-flex;
  width: 48px;
  height: 48px;
  border: 5px solid var(--c-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 700ms linear infinite;
}

.spinner_container {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: center;
  align-items: center;

}



@keyframes rotation {
0% {
  border-color: var(--c-primary);
  border-bottom-color: transparent;
  transform: rotate(0deg);
}
100% {
  border-color: var(--c-black);
  border-bottom-color: transparent;
  transform: rotate(360deg);
}
} 