@mixin section_header {
    font-size: 2.8rem;
    margin: 0 0 1rem;
    font-family: var(--f-1);
}

.section {
    &__1 {
        position: relative;
        padding: 20vh calc(10vw + 2rem) 10vh;
        min-height: 70vh;
        background-color:  var(--c-white);
        & > h1 {
            font-size: 3.0rem;
            width: 30rem;
            font-weight: 300;
            font-family: var(--f-1);
            margin-bottom: 4rem;
            & > span {
                display: block;
                font-weight: 600;
                background-image: 
                linear-gradient(to left, #40cbf5,#75df1f,#fdbb2d); 
                background-clip: text;
                -webkit-text-fill-color: transparent;  
            
            }
        }
        & > p {
            font-size: 1.3rem;
            font-family: var(--f-2);
            margin-bottom: 2rem;
            font-style: italic;
        }
        &__img {
            position: absolute;
            right: 0;
            z-index: 1;
            height: 40vw;
            min-height: 22rem;
            bottom: 0;
            overflow: hidden;
            & >img {
                animation: 1s ease fadeInRight ;
                position: relative;
                height: 100%;
                object-fit: contain;
                object-position: bottom right;     
            }
        }
    }
    &__2 {
        background: var(--c-primary-light);  
        background: -webkit-linear-gradient(to right, var(--c-primary-light-2), var(--c-primary-light));  
        background: linear-gradient(to right, var(--c-primary-light-2), var(--c-primary-light)); 

        color: var(--c-black);
        padding: 6rem 10vw ;
        & > h2 {
           @include section_header();
        }
        & > p {
            margin: 0 0 3rem;
            font-size: 1.6rem;
            font-family: var(--f-2);
        }

    }
    &__3 {
        padding: 4rem 10vw ;
        & > h2 {
            @include section_header();
        }
        & > p {
            margin: 0 0 2rem;
        }

    }
    &__4 {
        background-color: var(--c-secondary-light);
        padding: 4rem 10vw ;
        & > h2 {
            @include section_header();
        }
        & > p {
            margin: 0 0 2rem;
            font-family: var(--f-2);
        }

    }

}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }
    100% {
        opacity: 100;
        transform: translateX(0rem);
    }
}