@mixin section_header {
    font-size: 2.8rem;
    margin: 0 0 1rem;
    font-family: var(--f-1);
}

.section {
    &__1 {
        padding: 20vh calc(10vw + 2rem) 10vh;
        min-height: 70vh;
        background-color:  var(--c-white);
        & > h1 {
            font-size: 3.0rem;
            width: 30rem;
            font-weight: 300;
            font-family: var(--f-1);
            margin-bottom: 4rem;
            & > span {
                display: block;
                font-weight: 600;
                background-image: 
                linear-gradient(to left, #40cbf5,#75df1f,#fdbb2d); 
                background-clip: text;
                -webkit-text-fill-color: transparent;  
            
            }
        }
        & > p {
            font-size: 1.3rem;
            font-family: var(--f-2);
            margin-bottom: 2rem;
            font-style: italic;
        }
    }
    &__2 {
        background-color: var(--c-primary-light);
        color: var(--c-black);
        padding: 6rem 10vw ;
        & > h2 {
           @include section_header();
        }
        & > p {
            margin: 0 0 3rem;
            font-size: 1.6rem;
            font-family: var(--f-2);
        }

    }
    &__3 {
        padding: 4rem 10vw ;
        & > h2 {
            @include section_header();
        }
        & > p {
            margin: 0 0 2rem;
            font-family: var(--f-2);
        }

    }
    &__4 {
        background-color: var(--c-secondary-light);
        padding: 4rem 10vw ;
        & > h2 {
            @include section_header();
        }
        & > p {
            margin: 0 0 2rem;
            font-family: var(--f-2);
        }

    }

}

.quicknav {
    rotate: 90deg;
    transform-origin: 0 0;
    transform: translate(6rem, -3rem);
    position: fixed;
    background-color: var(--c-white);
    top: 0;
    font-family: var(--f-2);
    display: inline-flex;
    flex-direction: row;
    transition: all 200ms ease;
    animation: fade-slide 670ms ease 0ms;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    & > a {
        padding: 1rem 2.8rem;
        transition: all 300ms ease;
        &:hover {
            background-color: var(--c-primary);
            transform: translateY(-0.8rem);
        }
    }

}

@keyframes fade-slide {
    0% {
        opacity: 0;
        transform: translate(6rem, 0);
    }
    100% {
        opacity: 0.8;
        transform: translate(6rem, -3rem);
}
}


