.files_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.2rem;

}

.page {
    margin: 2rem 10vw;
}


.heading {
    font-family: var(--f-1);
    font-size: 2.2rem;
    margin: 0 0 2rem;
}