:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --blue-primary: #1e5bb8;
  --blue-light-bg: #F0FBFF;
  --text-black54: #2C3137;
  --grey-light-bg: #FCFCFC;

}

a {
  text-decoration: none;
}

.section {
  &__header {
    height: 90vh;
  }

}

.supertitle {
  margin: 5em 10%;
  width: 50%;
  
  &__1 {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
  }
  &__2 {
    font-size: 5.4rem;
    color: var(--blue-primary);
  }

}