:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
 }

a {
  text-decoration: none; }

.section__header {
  height: 90vh; }

.supertitle {
  margin: 5em 10%;
  width: 50%; }
  .supertitle__1 {
    display: block;
    font-size: 3.2rem;
    font-weight: 400; }
  .supertitle__2 {
    font-size: 5.4rem;
   }
